{% extends 'layout/base.html' %}
{% load static %}

{% block 'title' %}Editar Usuario(Cliente){% endblock  %}

{% block 'scripts' %}
    <script src="{% static '/scripts/confirmation.js' %}"></script>
{% endblock  %}

{% block 'content' %}

    <h1>EDITAR USUARIO</h1>

    <div class='editContainer'>
        <form name='editForm' action='{% url 'editCostumer' %}' method='POST' class='editForm' id='editForm' onsubmit='return confirm_update(this);'>
            {% csrf_token %}
            {{form.as_p}}
            <button value='submit' class='btn-submit'>EDITAR PERFIL</button>
            <p>Si quieres cambiar tu contraseña haz click <a href="{% url 'updatePasswordCostumer' %}">AQUI</a></p>
        </form>
    <div>

{% endblock  %}




