{% extends 'layout/base.html' %}

{% block 'title' %} Clientes {% endblock  %}


{% block 'content' %}
    <h1>CLIENTES</h1>
    <ul class='list'>
        {% for costumer in costumers %}  
        <li>
            <h3>{{ costumer.name }}</h3>
            <a href='{% url 'detailCostumer' id=costumer.id %}'>Ver Cliente</a>
            <a href='{% url 'editCostumer' id=costumer.id %}'>Editar Cliente</a>
            <a href='{% url 'deleteCostumer' id=costumer.id %}'>Borrar Cliente</a>
        </li>
        {% endfor %}
    </ul>
{% endblock  %}