{% extends 'layout/base.html' %}

{% block 'content' %}
    <h1>GRAFICAS</h1>
    <div>
        {% if user.is_staff %}
            {% include 'graphs/partials/staffGraph.html' %}
        {% endif %}

        {% if user.costumer.isCostumer or graph == 'costumer' %}
            {% include 'graphs/partials/costumerGraph.html' %}
        {% endif %}

        {% if user.supplier.isSupplier or graph == 'supplier' %}
            {% include 'graphs/partials/supplierGraph.html' %}
        {% endif %}

    </div>

{% endblock  %}
