{% extends 'layout/base.html' %}

{% block 'title' %} Proveedores {% endblock  %}

{% block 'content' %}
    <h1>PROVEEDORES</h1>
    <ul class='list'>
        {% for supplier in suppliers %}  
        <li>
            <h3>{{ supplier.name }}</h3>
            <a href='{% url 'detailSupplier' id=supplier.id %}'>Ver Proveedor</a>
            <a href='{% url 'editSupplier' id=supplier.id %}'>Editar Proveedor</a>
            <a href='{% url 'deleteSupplier' id=supplier.id %}'>Borrar Proveedor</a>
        </li>
        {% endfor %}
    </ul>
{% endblock  %}