{% extends 'layout/base.html' %}
{% load static %}

{% block 'title' %}Cambiar Contraseña{% endblock  %}

{% block 'scripts' %}
    <script src="{% static 'scripts/confirmation.js' %}"></script>
{% endblock  %}

{% block 'content' %}

    <h1>CAMBIAR CONTRASEÑA</h1>

    <div class='editContainer'>
        <form name='editForm' action='{% url 'updatePasswordSupplier' id=id %}' method='POST' class='editForm' id='editForm' ondubmit='confirm_update_pass()'>
            {% csrf_token %}
            {{form.as_p}}
            <input type=button onclick='confirm_update_pass()' class='btn-submit' value='CAMBIAR CONTRASEÑA'></input>
        </form>
    <div>

{% endblock  %}




