{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suministros/ {% block 'title' %}{% endblock  %}</title>
    <link rel="stylesheet" href={% static '/css/style.css' %}>
    {% block 'style' %}{% endblock  %}
</head>
<body>
    {% include 'layout/partials/menu.html' %}
    {% if accessLevel == 1 %}
        <hr>
        {% include 'layout/partials/menuCostumer.html' %}
    {% endif %}
    {% if accessLevel == 2 %}
        <hr>
        {% include 'layout/partials/menuSupplier.html' %}
    {% endif %}
    {% if accessLevel == 3 %}
        <hr>
        {% include 'layout/partials/menuAdmin.html' %}
    {% endif %}
    <main>
        {% block 'content' %}{% endblock  %}
    </main>
    {% block 'scripts' %}{% endblock  %}
</body>
</html>