{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suministros/ {% block 'title' %}{% endblock  %}</title>
    <link rel="stylesheet" href={% static '/css/style.css' %}>
    {% block 'style' %}{% endblock  %}
</head>
<body>
    {% include 'layout/partials/menu.html' %}

    {% if messages %}
        {% for message in messages %}
            <ul class="user-message" id='user-message' name='message'>
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            </ul>
        {% endfor %}
    {% endif %}

    <main>
        {% block 'content' %}{% endblock  %}
        {% block 'scripts' %}{% endblock  %}
            <script src="{% static '/scripts/message.js' %}"></script>
    </main>
    <div class='delimiter'></div>
    <footer>
        <p style='opacity: 80%; font-size:0.8em;'>Todos los derechos reservados. ©</p>
        <div style='opacity: 80%; font-size:0.8em;'>Iconos diseñados por <a href="https://www.flaticon.es/autores/adrianadam" title="adrianadam">adrianadam</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
        <a style='opacity: 80%; font-size:0.8em;' href="https://www.flaticon.es/iconos-gratis/dialogo" title="diálogo iconos">Diálogo iconos creados por lalawidi - Flaticon</a>
    </footer>
</body>
</html>
