{% extends 'layout/base.html' %}

{% block 'title' %}Ver Producto{% endblock  %}

{% block 'content' %}

    <div class='detail-container'>
        <h1 class='title'>{{ product.name }}</h1>
        <div class='img'><p>FOTO</p></div>
        <ul class='description'>
            <li><b>Nombre de Producto: </b>{{ product.name }}</li>
            <li><b>Categoria: </b>{{ product.categoria }}</li>
            <li><b>Resumen: </b>{{ product.shortDescription }}</li>
            <li><b>Descripción: </b>{{ product.description }}</li>
        </ul>
        <div class='select'><p>SELECCIONA LA FOTO</p></div>
        <div class='cart'><a href='#'>Añadir al carrito</a></div>
    </div>
    
    
{% endblock  %}