{% extends 'layout/base.html' %}

{% block 'title' %}Ver Producto{% endblock  %}

{% block 'content' %}

    <div class='detail-container'>
        <h1 class='title'>{{ product.name }}</h1>
        <div class='img'><p>FOTO</p></div>
        <ul class='description'>
            <li><h3>Nombre de Producto: </h3>{{ product.name }}</li>
            <li><h3>Categoria: </h3>{{ product.categoria }}</li>
            <li><h3>Resumen: </h3>{{ product.shortDescription }}</li>
            <li><h3>Descripción: </h3>{{ product.description }}</li>
            <li>
                <h3>Precio:</h3>
                <div class='price'>
                    <b>{{ product.finalPrice|floatformat:2 }} €</b>
                    <p class='pvp'>{{ product.pvp|floatformat:2}} €</p>
                    <p class='discount'>({{ product.discount|floatformat:2 }} %)</p>
                </div>
            </li>
        </ul>
        <div class='cart'><a href='{% url 'addToCart' product_id=product.id user_id=user.id %}'>AÑADIR AL CARRITO</a></div>
    </div>
    
    
{% endblock  %}