{% extends 'layout/base.html' %}

{% block 'title' %} PRODUCTOS {% endblock  %}

{% block 'content' %}
    <h1>PRODUCTOS</h1>
    <ul class='product-list'>
        {% for product in products %}
        <li>
            <div class='image'><p>FOTO</p></div>
            <div class='actions'>
                <b>{{ product.name }}</b>
                <a href='{% url 'detailProduct' id=product.id %}'>VER</a>
                <a href='{% url 'sales' id_product=product.id id_user=user.id %}'>COMPRAR</a>
                <a href='{% url 'addToCart' product_id=product.id user_id=user.id %}'>AÑADIR AL CARRITO</a>
            </div>      
        </li>
        {% endfor %}
    </ul>
{% endblock  %}