{% extends 'layout/base.html' %}

{% block 'title' %} PRODUCTOS {% endblock  %}

{% block 'content' %}
    <h1>PRODUCTOS</h1>
    {% for product in products %}
            {{ product.name }}
            <span>
                <ul>
                    <li><a href='{% url 'detailProduct' id=product.id %}'>Ver producto</a></li>
                    <li><a href='{% url 'editProduct' id=product.id %}'>Editar producto</a></li>
                    <li><a href='{% url 'deleteProduct' id=product.id %}'>Borrar producto</a></li>
                <ul>
            </span>
        {% endfor %}
{% endblock  %}