{% extends 'layout/base.html' %}

{% block 'title' %} Admin {% endblock  %}

{% block 'content' %}
    <h1>ADMINISTRADORES</h1>
    <ul class='list'>
        {% for staff in staffs %}  
        <li>
            <h3>{{ staff.name }}</h3>
            <a href='{% url 'detailStaff' id=staff.id %}'>Ver staff</a>
            <a href='{% url 'editStaff' id=staff.id %}'>Editar staff</a>
            <a href='{% url 'deleteStaff' id=staff.id %}'>Borrar staff</a>
        </li>
        {% endfor %}
    </ul>
{% endblock  %}