{% extends 'layout/base.html' %}
{% load static %}

{% block 'title' %}Cambio Contraseña{% endblock  %}

{% block 'scripts' %}
    <script src="{% static 'scripts/confirmation.js' %}"></script>
{% endblock  %}

{% block 'content' %}

    <h1>CAMBIAR CONTRASEÑA</h1>

    <div class='editContainer'>
        <form name='editForm' action='{% url 'updatePasswordStaff' %}' method='POST' class='editForm' onsubmit='return confirm_update_pass(this);'>
            {% csrf_token %}
            {{form.as_p}}
            <button value='submit' class='btn-submit'>CAMBIAR CONTRASEÑA</button>
        </form>
    <div>

{% endblock  %}




