{% extends 'layout/base.html' %}

{% block 'title' %}Acceso{% endblock  %}

{% block 'content' %}
    
    <h1>ACCESO</h1>
    <div class='containerForm'>
        <form  action='{% url 'login' %}' method='POST' class='selectForm'>
            {% csrf_token %}
            {{form.as_p}}
            <div style='display: flex; justify-content: flex-start;'> <p style='font-size: 0.9em; margin-top:15px;'>¿No tienes una cuenta? Regístrate<a style='margin: 0px 5px;' href="{% url 'select' %}">AQUI</a>!!</p> </div>
            <input type='submit' value='Log In' class='btn-submit'>
        </form>
    </div>

{% endblock  %}