<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar tipo</title>
</head>
<body>
    <h1>Seleccionar tipo</h1>
    <div class='containerForm'>
        <form  action='{% url 'select'%}' method='POST' class='selectForm'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='Registrarse' class='btn-submit'>
        </form>
    </div>
</body>
</html>