{% extends 'layout/base.html' %}

{% block 'title' %} Admin {% endblock  %}

{% block 'content' %}
    <h1>ADMINISTRADORES</h1>
    {% for staff in staffs %}
                {{ staff.name }}
                <span>
                    <ul>
                        <li><a href='{% url 'detailStaff' id=staff.id %}'>Ver administrador</a></li>
                        <li><a href='{% url 'editStaff' id=staff.id %}'>Editar administrador</a></li>
                        <li><a href='{% url 'deleteStaff' id=staff.id %}'>Borrar administrador</a></li>
                    <ul>
                </span>
            {% endfor %}
{% endblock  %}