:root{
    --main-font: CircularStd;
}

@font-face {
    font-family: CircularStd;
    src: url('../fonts/CircularStd-Bold.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    color:#fff;
}


body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}


main {
    position: absolute;
    top: 100px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MENU */

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation .nav-a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .nav-a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 15px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation .nav-a:hover::after {
    transform-origin: left;
    transform: scaleX(1);

}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    text-decoration: none;
    background-color: transparent;
    padding: 10px 10px;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background-color: #fff;
    color:rgb(71, 66, 66);
}

.navigation .btnSingup-popup {
    width: 130px;
    height: 50px;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 10px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
    transition: .5s;
}

.navigation .btnSingup-popup:hover {
    background-color: #7c82d8;
    color:rgb(71, 66, 66);
}

/* MENU */

/* Product INDEX */

.product-list {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-list li{
    width: 300px;
    height: 300px;
    list-style-type: none;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-list b{
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 5px;
}

.product-list a{
    position: relative;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 5px;
}

.product-list a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 15px;
    opacity: 0%;
    transition: .5s;
}

.product-list a:hover::after {
    bottom: -2px;
    opacity: 100%;
}

.image {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 80%;
}

.image p {
    color: #000;
}

/* Product INDEX */

/* Product DETAIL */

.detail-container {
    width: 100%;
    min-height: 800px;
    display: grid;
    grid-template-areas: 'title title' 
                         'img description'
                         'select cart';
    grid-template-rows: 15% auto 15%;
    grid-template-columns: 50%;
    width: 90%;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    grid-area: title;
}

.img {
    background-color: #7c82d8;
    color:#000;
    border: 2px solid beige;

    display: flex;
    line-height: 50%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    grid-area: img;
}

.description {
    margin-left: 50px;
    list-style: none;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    grid-area: description;    
}

.description li {
    margin-bottom: 20px;
}

.select {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    grid-area: select;
}

.cart {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    grid-area: cart;
}